doctype html
html
  head
    meta(name="viewport" content="initial-scale=1, viewport-fit=cover, width=device-width")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    title Open Flair 2024 Timetable
    link(rel='icon', href='/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/favicon/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-config', content='/favicon/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
  body
    #welcome-modal.modal
      .modal-content
        h2 Willkommen auf dem Open Flair 2024
        p Dies ist der mobile Timetable für Dein Smartphone. Stöbere im diesjährigen Programm herum und stelle dir deinen eigenen Merkzettel zusammen.
        h2 Offline Nutzung
        p Dieser Timetable funktioniert auch offline und das geht so:
        p Seite im Safari öffnen, Menü klicken, "Zum Homescreen hinzufügen".
        p Einmal geklickt, wird ein Icon auf Deinem Homescreen erscheinen, hinter dem sich der Timetable befindet. Anschließend die App einmal starten, wodurch sie offline nutzbar wird.
        button(onclick='closeWelcomeModal()') Weiter

    .search-bar
      input#searchInput(type="text", placeholder="Suche nach Künstlern")
    .day-buttons-container
          if eventsGroupedByDate
            each day, index in Object.keys(eventsGroupedByDate)
              button.day-button(data-day=day)
                span= ['Mi', 'Do', 'Fr', 'Sa', 'So'][index]
    .container
      if eventsGroupedByDate
        each day in Object.keys(eventsGroupedByDate)
          .event-group(data-day=day)
            .event-group-header= day
            each event in eventsGroupedByDate[day]
              .event(data-id=event._id)
                .event-info.grid-container
                  h2.div.grid-item= event.name
                  div.grid-item= event.time
                  div.grid-item= event.stage
                  div.grid-item
                    button.favorite-button
                      span.material-symbols-outlined favorite_border

    .bottom-buttons
      button.favorite-toggle
        span.material-symbols-outlined favorite
      button.reset-button.hidden
        span.material-symbols-outlined refresh
      button.filter-button
        span.material-symbols-outlined filter_alt

    #filter-modal.modal.hidden
      .modal-content
        span.close-button &times;
        h2 Bühne auswählen
        ul.stage-list
          // Dynamische Bühnen
          li.stage-item(onclick="filterByStage('alle bühnen')") Alle Bühnen

    script(src="/js/main.js")
