doctype html
html
  head
    title Open Flair 2024 Timetable
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
  body
    h1 Open Flair 2024
    .search-bar
      input#searchInput(type="text", placeholder="Suche nach Künstlern")
    .day-buttons
      if eventsGroupedByDate
        each day in Object.keys(eventsGroupedByDate)
          button.day-button(data-day=day)
            span= day
    .container
      if eventsGroupedByDate
        each day in Object.keys(eventsGroupedByDate)
          .event-group(data-day=day)
            .event-group-header= day
            each event in eventsGroupedByDate[day]
              .event
                .event-info
                  h2= event.name
                  p= event.time
                  p= event.stage
    .filter-button
      span.material-symbols-outlined filter_alt
    .reset-button.hidden
      span.material-symbols-outlined refresh

    // Modal for search and filter
    .modal.hidden
      .modal-content
        span.close-button &times;
        h2 Suche und Filter
        ul.stage-list
          li(onclick="filterByStage('alle bühnen')") Alle Bühnen
          each stage in ["Seebühne", "E-Werk", "Hofbühne", "Kleinkunstzelt", "RadioBob! Bühne", "Freibühne"]
            li(onclick=`filterByStage("${stage}")`)= stage

    script(src="/js/main.js")
